<h1>Your comment:</h1>

<% parent_id = params[:comment_id] ? params[:comment_id] : params[:post_id] %>

<form action="<%= post_comments_url(parent_id) %>" method="post">
  <input type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <textarea name="comment[content]"><%= @comment.content %></textarea>

  <button>Post</button>
</form>
